 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>Web development is my passion. I enjoy making my applications usable, sclaebale and accessible.</p>
                </div>
                <div class="col-lg-4">
                    <p>I help businesses improve their client communications &amp; effect change leading to cost savings and increasing customer loyalty. </p>
                </div>
            </div>
        </div>
    </section>